/* font-family: "Playfair Display", serif; */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

body {
  line-height: 1;
}

.about h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #9BBEC8, #164863);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
}
.about h2:hover {
  text-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  cursor: pointer;
}

.heading {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 2rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 3rem;
}

.u-margin-bottom-small {
  margin-bottom: 1rem;
}

.btn--white {
  background-color: #fff;
  color: #777;
  border-radius: 1.7rem;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.btn:active {
  transform: translateY(-0.1rem);
}
.btn:link {
  text-transform: uppercase;
  padding: 1.7rem 2rem;
  display: inline-block;
  transition: all 0.2s;
}
.btn:visited {
  text-transform: uppercase;
  padding: 1.7rem 2rem;
  display: inline-block;
  transition: all 0.2s;
}

.btn-text:link, .btn-text:visited {
  color: #427D9D;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #427D9D;
  padding: 3px;
}
.header {
  height: 95vh;
  background-image: linear-gradient(to top, rgba(155, 190, 200, 0.6), rgba(22, 72, 99, 0.6)), url(../img/banner.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
}
.header__logo-area {
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
}
.header__logo {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: #fff;
  font-size: 2rem;
}
.header__banner-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.header__banner-area h1 {
  font-size: 4rem;
  letter-spacing: 3rem;
  display: block;
  color: #fff;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  text-transform: uppercase;
  backface-visibility: hidden;
  animation-name: moveInLeft;
  animation-duration: 2s;
}
.header__banner-area p {
  font-size: 1rem;
  letter-spacing: 1rem;
  margin-top: 1.5rem;
  display: block;
  margin-bottom: 3rem;
  color: #fff;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  text-transform: uppercase;
  backface-visibility: hidden;
  animation-name: moveInRight;
  animation-duration: 2s;
}

.row {
  max-width: 50rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 4rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 2rem;
}
.row .col-1-of-2 {
  width: calc((50rem - 2rem) / 2);
}
.row .col-1-of-3 {
  width: calc((50rem - 2 * 2rem) / 3);
}
.row .col-1-of-4 {
  width: calc((50rem - 3 * 2rem) / 4);
}
.row .col-2-of-3 {
  width: calc(2 * (50rem - 2 * 2rem) / 3 + 2rem);
}
.row .col-2-of-4 {
  width: calc(2 * (50rem - 3 * 2rem) / 4 + 2rem);
}
.row .col-3-of-4 {
  width: calc(3 * (50rem - 3 * 2rem) / 4 + 4rem);
}

.about {
  background-color: #f7f7f7;
  padding: 3rem 0;
}

/*# sourceMappingURL=style.css.map */
