//colors
$color-primary: #427D9D;
$color-light:  #9BBEC8;
$color-dark: #164863;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

//grid
$grid-width: 50rem;
$gutter-vertical: 4rem;
$gutter-horisontal: 2rem;