//colors
$color-primary: #427D9D;
$color-light:  #9BBEC8;
$color-dark: #164863;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #7ed56f;
$color-tertiary-dark: #28b485;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: rgb(226, 222, 222);

$color-grey-dark: #5c5b5b;
$color-white: #fff;
$color-black: #000;

//font
$default-font-size: 1rem;

//grid
$grid-width: 60rem;
$gutter-vertical: 4rem;
$gutter-horisontal: 3rem;