.row {
    max-width: $grid-width;
    background-color: #e8e4e4;
    margin: 0 auto;

    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }

    @include clearfix;

    [class^="col-"] {
        background-color: firebrick;
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horisontal;
        }
    }

    .col-1-of-2 {
        width: calc((#{$grid-width} - #{$gutter-horisontal}) / 2);
    }

    .col-1-of-3 {
        width: calc((#{$grid-width} - 2 * #{$gutter-horisontal}) / 3);
    }

    .col-1-of-4 {
        width: calc((#{$grid-width} - 3 * #{$gutter-horisontal}) / 4);
    }

    .col-2-of-3 {
        width: calc(2 * ((#{$grid-width} - 2 * #{$gutter-horisontal}) / 3) + $gutter-horisontal);
    }

    .col-2-of-4 {
        width: calc(2 * ((#{$grid-width} - 3 * #{$gutter-horisontal}) / 4) + $gutter-horisontal);
    }

    .col-3-of-4 {
        width: calc(3 * ((#{$grid-width} - 3 * #{$gutter-horisontal}) / 4) + 2 * $gutter-horisontal);
    }
}   

