.header {
    height: 95vh;
    background-image: linear-gradient(
        to top, 
        rgba($color-light, 0.6), 
        rgba($color-dark, 0.6)), 
        url(../img/banner.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    &__logo-area {
        position: absolute;
        top: 2.5rem;
        left: 2.5rem;
    }

    &__logo {
        font-family: "Playfair Display", serif;
        font-weight: 400;
        color: $color-white;
        font-size: 4rem;
    }

    &__banner-area {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        & h1 {
            font-size: 7rem;
            letter-spacing: 3rem;
            display: block;
            color: $color-white;
            font-family: "Playfair Display", serif;
            font-weight: 400;
            text-transform: uppercase;
            backface-visibility: hidden;
        
            animation-name: moveInLeft;
            animation-duration: 2s;

            @include respond(phone) {
                letter-spacing: 2rem;
                font-size: 4rem;
            }
        }

        & p {
            font-size: $default-font-size;
            letter-spacing: 1rem;
            margin-top: 1.5rem;
            display: block;
            margin-bottom: 3rem;
            color: $color-white;
            font-family: "Playfair Display", serif;
            font-weight: 400;
            text-transform: uppercase;
            backface-visibility: hidden;
        
            animation-name: moveInRight;
            animation-duration: 2s;
            
            @include respond(phone) {
                letter-spacing: .5rem;
                font-size: 1rem;
                margin-top: .5rem;
            }
        }
    }
    
}
