body {
	line-height: 1;
}

.about h2 {
	font-size: 2.5rem;
	text-transform: uppercase;
	font-weight: 700;
	background-image: linear-gradient(to right, $color-light, $color-dark);
	display: inline-block;
	-webkit-background-clip: text;
	color: transparent;
	
	&:hover {
		text-shadow: 0 .5rem 2rem rgba($color-black, .2);
		transition: .5s;
		cursor: pointer;
	}
}

.heading {
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
}

.paragraph {
	font-size: 1rem;
	&:not(:last-child) {
		margin-bottom: 2rem;
	}
}